.acf-field-bogo-deals-number .acf-button-group label:nth-child(2),
.acf-field-bogo-deals-number .acf-button-group label:nth-child(3),
.acf-field-bogo-deals-number .acf-button-group label:nth-child(4),
.acf-field-bogo-deals-number .acf-button-group label:nth-child(5),
.acf-field-bogo-deals-number-custom,
.acf-field-bogo-deals-link-uniqid,
.acf-field-bogo-deals-link,
.acf-field-bogo-deals-attributes,
.acf-field-bogo-deals-iproducts,
.acf-field-bogo-deals-eproducts,
.acf-field-bogo-deals-notices-checkout,
.acf-field-bogo-deals-notices-checkout-message {
    pointer-events: none;
    opacity: 0.5;
}

.acf-field-bogo-deals-number-custom p.description,
.acf-field-bogo-deals-link p.description,
.acf-field-bogo-deals-attributes p.description,
.acf-field-bogo-deals-iproducts p.description,
.acf-field-bogo-deals-eproducts p.description,
.acf-field-bogo-deals-notices-checkout p.description,
.acf-field-bogo-deals-notices-checkout-message p.description {
    color: #d63638 !important;
}


.acf-field-bogo-deals-notices-product img.responsive,
.acf-field-bogo-deals-notices-shop img.responsive,
.acf-field-bogo-deals-notices-checkout img.responsive {
    width: 100%;
    height: auto;
    max-width: 100%;
}
